{% extends 'base.html' %}
{% load static %}
{% block content %}
    <img src="{% static 'Resume_front/images/mphoto.jpg' %}" alt="ProfilePic" class='img-thumbnail mx-auto d-block mt-5' hight=250px width=150px>
    <div class="text-light mt-5">
        <h1 class='text-warning'>Hello,</h1>
        <p>
           My name is Suraj Mehra. I am doing my B.Tech in NIT Patna from the Electronics and Communication Branch. My B. Tech degree passes out in 2022. I am a Full Stack Web Developer. I have worked on many web application-related projects.
        </p>
    </div>
{% endblock content %}